{% extends 'base.html' %}

{% block main %}
<div class="card shadow m-3">
    <div class="card-body">
        <div class="card-body d-flex justify-content-between align-items-center">
            <a href="/home/" class="btn btn-primary">Back</a>
        </div>
        <h5 class="p-2 text-danger" style="border-bottom: 2px solid orange">SEARCH DEVICE DETAILS</h5>

        <form method="POST" action="{% url 'searchDeviceUser' %}">
            {% csrf_token %}

            <div class="container-fluid text-center mt-3 mb-2" style="background-color: rgba(4, 246, 201, 0.947); padding-bottom: 1px;">
                <div class="form-group">
                    
                    <label>Serial Number</label>
                    <input type="text" class="form-control" name="Srno" placeholder="Enter Serial No.">
                    <label>Purchase Year</label>
                    <select id="Purchase year" class="form-control" name="purchaseyear">
                        <option>--Select--</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                        <option value="2008">2008</option>
                        <option value="2009">2009</option>
                        <option value="2010">2010</option>
                        <option value="2011">2011</option>
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                
                    
                    
                    <label>Grant</label>
                    
                          <select id="Grant" name="Grant" class="form-control">
                            <option>--Select--</option>
                          <option value="IT-HW">IT-HW </option>
                          <option value="DGEME CASH">DGEME CASH</option>
                          <option value="IT-DGEME">IT-DGEME</option>
                          <option value="PMSE">PMSE</option>
                          <option value="MISCELLANEOUS">MISCELLANEOUS</option>
                          </select> 
                    
                   <label>Group</label>
                    <select id="Group" class="form-control" name="Group" >
                        <option value="">--Select--</option>
                        <option value="TL">TL</option>
                        <option value="FCRC">FCRC</option>
                        <option value="HQ">HQ</option>
                        <option value="SCSO">SCSO</option>
                        <option value="FINANCE">FINANCE</option>
                        <option value="MCO">MCO</option>
                        <option value="GMP OFFICE">GMP OFFICE</option>
                        <option value="CRC">CRC</option>
                        <option value="PROJECT CELL">PROJECT CELL</option>
                        <option value="WSG">WSG</option>
                        <option value="MI ROOM">MI ROOM</option>
                        <option value="LEGAL CELL">LEGAL CELL</option>
                        <option value="CO ORD LIB">CO ORD LIB</option>
                        <option value="COMDTT SECTION">COMDTT SECTION</option>
                        <option value="NM">NM</option>
                        <option value="OSS">OSS</option>

                        </select>
                </div>    
                    <div>
                <button type="submit" class="btn btn-danger ms-2 mb-2">Search</button>
                <button type="reset" class="btn btn-info ms-2 mb-2">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}